<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= simple_form_for(@service) do |f| %>
    <div class="form-group">
      <%= f.label "New Service" %>
      <%= f.input :description, label: false%>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

