<div class="row">
  <div class="col-xs-6 col-sm-6">
    <%= @service.name %>
    <% @services.each do |service| %>
    <%= service.description %>
    <% end %>
  <%= link_to "return to menu", service_path %>
  </div>
</div>
