// Specific CSS for your home-page

// .row  {
//   background: #ac9e93;
//   border-radius: 15px;
//   width: 508px;
//   height: 600px;
//   padding: 15px;

// }
// .lable {
//   font-family: serif;
// }
.wrapper_home {
  height:90vh;
  background-size: cover;
}

.btn {
  border-radius: 14px;
}

h1 h2 h3 p {
  color: #e7e3da;
}

.label {
  color: #edeff0;
}
