// Specific CSS for your home-page

h1, h2, h3, h4, h5 {
  text-align: center
}

.wrapper-home {
  height:100vh;
  background-size: cover;
  text-align: center;
  padding: 80px;
}

.center {
  color: white;
  padding: 20px;
  margin: 0px;
}

.form-small {
  padding: 5px 390px;
}
