.wrapper-bookings {
  margin: 0 auto;
}

.middle {
  width: 300px;
}

.make-booking {
  font-family: $body-font;
  text-align: left
}

.make-booking-label {
font-family: $body-font;
}

textarea  {
  resize: none;
}
