.wrapper-bookings {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
}

textarea  {
  resize: none;
}

.flex-container {
  display: flex;
  align-items: center;
}

.make-booking {
  font-family: $body-font;
  text-align: left
}

.flex-body {
  flex: 0 0 50%;
  padding: 10px;
}

.card-category-bookings {
  background-size: cover;
  background-position: center;
  height: 240px;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px;
}

.card-name-bookings {
  // align-items: center;
  display: flex;
  justify-content: center;
}

.card-content-bookings {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
