.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px;

}

.avatar-card {
  border-radius: 50%;
  height: 40px;
  margin-left: 50px;

}
.card-content {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;

}

.card-name {
  // align-items: center;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.category-search {
  margin: 5px;
}

.description-search{
  margin: 5px;
}
