.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}
.card-content {
font-family: 'Source Sans Pro', sans-serif;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
