.form-new-service {
display: flex;
justify-content: center;
margin-top: 35px;
}

.service_description textarea {
  resize: none;
}

label{
  font-weight: normal;
}

.validate-service {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
