<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.4) 25%), url('<%= image_path 'newbackground' %>');">
 <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <h3 class="home">Find a mench to help you become a local.</h3>
              <p class="home">Fill in the lines below to help narrow your search
              </p>
          <form method="GET" action="service/index">
            <div class="form-group">
              <labelclass="home" for="city">By City:  </label>
              <input type="text" class="form-control" id="text">
            </div>
            <div class="form-group">
                <label class="home" for="category">By Category:
                </label>
                <input type="text" class="form-control" id="text">
            </div>
            <div class="form-group">
                <label class="home" for="time">By Time:</label>
                <input type="integer" class="form-control" id="integer">
            </div>
            <div class="form-group">
              <label class="home" for="pwd">By Price:</label>
              <input type="integer" class="form-control" id="integer">
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <%= link_to "Show Me Everything", services_path, class: "btn btn-success" %>
            </div>
          </form>
          </div>
        </div>
  </div>
</div>


