<div>

  <!-- MY SERVICES CARD -->

  <% @my_services.each do |service| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/random">
      <div class="card-product-infos">
        <%= link_to service_path(service) do %>
          <h2 class="align-left"><%=service.name%></h2>
        <% end %>
        <p><%= service.description %></p>
      </div>
    </div>
  <% end %>

</div>
